table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  padding: 15px;
}

.checkBox_header_wrapper {
  text-align: center;
}

.checkBox_header {
  width: 20px;
  height: 20px;
}
