.custom-table table,
.custom-table td,
.custom-table th {
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.custom-table th,
td {
  padding: 15px;
}
