.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  text-align: center;
  width: 450px;
}

.alternative {
  padding-top: 15px;
  text-align: center;
}

.error_message {
  color: #F60414;
}

.title {
  font-size: 25px;
}

.switching_button {
  font-weight: bold;
  color: #085ED6;
  background-color: #ffffff;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}
